@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Varela+Round&display=swap');
:root{
    --primary-color: #f3f3f3;
    --black-900: #1e2025;
    --blue-600: #2563eb;
    --black-800: #22252a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
    font-family: 'Popins',sans-serif;
}
main{
    display: flex;
    height: 100vh;
}
.leftside{
    background-color: var(--black-800);
    width: 50%;
    text-align: center;
    padding-top: 25vh;
}
h2{
    margin-bottom: 2rem;
    color: var(--primary-color);
}
input{
    border: none;
    background-color: var(--black-900);
    padding: 1.4rem 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    width: 25rem;
    color: var(--primary-color);
}
button{
    border: none;
    background-color: var(--blue-600);
    color: var(--primary-color);
    font-weight: 700;
    padding: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 25rem;
    margin-top: 1rem;
}
.rightSide{
     background-color: var(--black-900);
     width: 50%;
     text-align: center;
     display: flex;
     justify-content: center;
}
#Output{
    width: 70%;
    margin: auto;
    font-size: 2rem;
    color: var(--primary-color);
}